name: Lint
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
  push:
    paths:
      - "**.js"
      - "package.json"
      - "package-lock.json"
      - ".eslintrc.json"
      - ".github/workflows/lint.yaml"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the project directory
        uses: actions/checkout@v2

      - name: Set up NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"

      - name: Cache node modules
        uses: actions/cache@v2.1.5
        env:
          cache-name: lint
        with:
          path: ~/.npm
          key: npm-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-${{ env.cache-name }}-
            npm-

      - name: Install packages
        run: npm ci

      - name: Run linter
        run: npm run lint
